<div *ngIf="cars">
    <div>
        <input
            type="text"
            [(ngModel)]="searchText"
            name="searchText"
        >
        <button (click)="search()">Search</button>
    </div>
    <div *ngIf="cars.length === 0">No more cars available</div>
    <ul>
        <li *ngFor="let car of cars">
            <a routerLink="/cars/details/{{car.id}}">
                <h3>{{car.make}}</h3>
                <span>{{car.model}}</span>
                <img
                    [src]="car.image"
                    alt="{{car.model}}"
                    title="{{car.model}}"
                >
            </a>
        </li>
    </ul>
    <br>
    <div>
        <button
            [disabled]="page === 1"
            (click)="prevPage()"
        >
            PREV
        </button>
        <button
            [disabled]="cars.length === 0 || cars.length < 10"
            (click)="nextPage()"
        >
            NEXT
        </button>
    </div>
</div>
