img{
    width: 200px;
    height: 200px;
}

container{
    width:250px;
    display: inline-block;
    margin: 20px;
    float: left;
}

ul{
    list-style-type: none;
    display: inline-block;
}

li {
    float:left;
}