<h2>Register</h2>

<form
    #registerForm="ngForm"
    (submit)="register()"
>
    <md-form-field class="example-full-width">
        <input
            #name="ngModel"
            type="text"
            mdInput
            placeholder="Name"
            name="name"
            [(ngModel)]="user.name"
            required
        >
        <md-hint [hidden]="name.pristine || name.valid">
            <span [hidden]="!name.errors?.required">Name is required.</span>
        </md-hint>
    </md-form-field>
    <br>
    <md-form-field class="example-full-width">
        <input
            #email="ngModel"
            type="email"
            mdInput
            placeholder="E-mail"
            name="email"
            [(ngModel)]="user.email"
            required
        >
        <md-hint [hidden]="email.pristine || email.valid">
            <span [hidden]="!email.errors?.required">Email address is required.</span>
        </md-hint>
    </md-form-field>
    <br>
    <md-form-field class="example-full-width">
        <input
            #password="ngModel"
            type="password"
            mdInput
            placeholder="Password"
            name="password"
            [(ngModel)]="user.password"
            required
        >
        <md-hint [hidden]="password.pristine || password.valid">
            <span [hidden]="!password.errors?.required">Password is required.</span>
        </md-hint>
    </md-form-field>
    <br>

    <md-form-field class="example-full-width">
        <input
            #confirmPassword="ngModel"
            type="password"
            mdInput
            placeholder="Confirm Password"
            name="confirmPassword"
            [(ngModel)]="user.confirmPassword"
            required
        >
        <md-hint [hidden]="password.value === confirmPassword.value || confirmPassword.pristine">
            <span>Passwords do not match.</span>
        </md-hint>
    </md-form-field>
    <br>

    <a
        md-raised-button
        color="warn"
    >
        CANCEL
    </a>

    <button
        md-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.form.valid || password.value !== confirmPassword.value"
    >
        ADD
    </button>

</form>
