<h1>CAR DETAILS</h1>

<div>
    <div>ID: {{car.id}}</div>
    <div>MAKE: {{car.make}}</div>
    <img *ngIf="car.image" [src]="car.image">
    <button (click)="like()">Like</button>
    <div>MODEL: {{car.model}}</div>
    <div>YEAR: {{car.year}}</div>
    <div>ENGINE: {{car.engine}}</div>
    <div>PRICE: {{car.price}}</div>
    <div>LIKES: {{car.likes}}</div>
</div>

<h3>Reviews</h3>
<div>
    <div *ngFor="let review of reviews">
        <div>
            Rating - {{review.rating}}
        </div> 
        <div *ngIf="review.comment">
                Comment - {{review.comment}} 
        </div>
       <div> 
           User - {{review.user}} 
        </div>
        <hr>
        <hr>
    </div>
</div>
<h3>Add Review</h3>
<form (ngSubmit)="sendReview()" class="example-form" #reviewForm="ngForm">
    <select placeholder="Rating" name="rating"  [(ngModel)]="review.rating">
        <option *ngFor="let number of [1,2,3,4,5]" [value]="number" >{{number}}</option>
    </select><br/>
    <textarea placeholder="Comment" name="comment" cols="30" rows="10" [(ngModel)]="review.comment"></textarea><br/>
    <button md-raised-button color="primary" type="submit" [disabled]="!reviewForm.form.valid">
        SEND
    </button>

</form>